@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

body{
  overflow-x: hidden;
}

#ice{
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #88C9F9;
  text-shadow: -3px 2px 9px #daefff46;
  transition: .4s;
}

#ice:hover{
  text-shadow: -3px 2px 9px #daefff46;
  font-size: 1.3rem;
  text-decoration: underline;
}

#home{
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background-color: #393939;
}

#home .side-nav{
  background-color: #171717;
  position: fixed;
  width: 15%;
  min-width: 320px;
  height: 100%;
  border: rgba(173, 173, 173, 0.309) solid 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 30px;
  box-shadow: 0px 2px 23px 0px rgba(0, 0, 0, 0.132);
}

#home .side-nav .title{
  font-weight: 600;
  text-align: center;
  font-size: 1.4rem;
  margin: 20px 0;
  line-height: 2.5rem;
  margin-bottom: 20px;
  text-shadow: -3px 2px 9px rgba(71, 71, 71, 0.432);
}

#home .side-nav .label{
  color: #c6c6c6;
  font-weight: 500;
  margin: 10px 0 0px 0;
}

#home .side-nav .button-set{
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 6px;
  border-radius: 6px;
  transition: .2s;
  cursor: pointer;
}

#home .side-nav .button-set:hover{
  background-color: #393939;
  text-decoration: underline;
}

#home .side-nav .icon{
  width: 1.5rem;
  margin-right: 10px;
}

#home .side-nav .login-sign-container{
  position: absolute;
  bottom: 50px;
  width: 80%;
}

#home .side-nav .login-sign-container .login{
  width: 100%;
  display: block;
  text-align: center;
  background-color: rgb(242, 242, 242);
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 30px;
  padding: 10px 2px;
  font-weight: 500;
  margin-bottom: 10px;
  transition: .3s;
  color: black;
}

#home .side-nav .login-sign-container .login:hover{
  background-color: rgb(21, 21, 21);
  cursor: pointer;
  color: rgb(239, 239, 239);
  border: 2px rgb(42, 42, 42) solid;
  box-shadow: 0px 2px 23px 0px rgba(222, 222, 222, 0.75);
}

#home .side-nav .login-sign-container .login:active{
  transform: scale(95%);
  box-shadow: 0px 2px 23px 0px rgba(222, 222, 222, 0.318);
}

#home .side-nav .login-sign-container .signup{
  width: 100%;
  display: block;
  text-align: center;
  background-color: rgb(51, 51, 51);
  border: 2px rgba(255, 255, 255, 0.779) solid;
  border-radius: 30px;
  padding: 10px 2px;
  font-weight: 500;
  color: white;
  transition: .3s;
}

#home .side-nav .login-sign-container .signup:hover{
  background-color: rgb(231, 231, 231);
  cursor: pointer;
  color: black;
  border: 2px rgba(255, 255, 255, 0.779) solid;
  box-shadow: 0px 2px 23px 0px rgba(222, 222, 222, 0.75);
}

#home .side-nav .login-sign-container .signup:active{
  transform: scale(95%);
  box-shadow: 0px 2px 23px 0px rgba(222, 222, 222, 0.318);
}

#home .copyright{
  position: absolute;
  bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
}

#home .copyright img{
  width: 20px;
  margin-right: 4px;
  transform: rotate(0);
  animation: rotation 2s infinite linear;
}

#home main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: 310px;
}

#home main .top{
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

#home main .bottom .book-card-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}


.book-data-card{
  background-color: #171717;
  width: 30vw;
  min-width: 400px;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 23px 0px rgba(54, 54, 54, 0.75);
}

.book-graph-card{
  background-color: #171717;
  width: 30vw;
  min-width: 400px;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 2px 23px 0px rgba(54, 54, 54, 0.75);
}

/* *Book Card */
.book-card{
  width: 250px;
  height: 300px;
  background-color: rgb(26, 26, 26);
  border-radius: 8px;
  padding: 10px 15px;
  position: relative;
  transition: .4s;
  box-shadow: 0px 2px 23px 0px rgba(224, 224, 224, 0.132);
}

.book-card:hover{
  cursor: pointer;
  transform: scale(105%);
}

.book-card:active{
  opacity: 0.8;
  transform: scale(98%);
}

.book_id{
  color: #d2d2d2;
  font-size: 0.8rem;
}

.book-title{
  font-weight: 600;
  text-align: center;
  font-size: 1.3rem;
  margin: 12px 0;
  text-shadow: -3px 2px 9px rgba(198, 198, 198, 0.432);
}

.book-author{
  text-align: center;
}

.authorSVG{
  width: 1rem;
  position: relative;
  bottom: -3px;
  right: 7px;
}

.book-date{
  text-align: center;
}

.book-expense{
  color: yellow;
  font-weight: 700;
  font-size: 1.3rem;
}

.book-card-bottom{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
}

.book-card-bottom .book-category{
  font-size: .8rem;
}

.book-card-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}